body {
  background-image: url(cielo-estrellado-fondo-estrellas-espaciales-particulas-brillo_160081-198.avif);
  margin: 0;
  color: white;
  padding: 0;
}

header {
  text-align: center;
}

header img {
  margin-top: 30px;
  width: 50%;

}
nav h2 {
  margin: 0;
  font-size: xx-large;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.menu {
  text-align: center;
  font-weight: bold;
  padding: 0px;
}

.liMenu {
  position: relative;
  display: inline-block;
  margin-inline: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px gray, -5px 5px 15px gray;
  background-color: white;
  width: 100px;
}

.liMenu a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

.menu li a:hover {
  color: #ee08ad;
}
.submenu {
  position: absolute;
  display: none; 
  background-color: white;
  z-index: 1;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px gray, -5px 5px 15px gray;
}

.submenu li {
  list-style: none;
  width: 100px;
}
.submenu li a {
  padding: 10px;
}

.menu li:hover .submenu {
    display: block;
  }

button {
  cursor: pointer;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0px auto;
}

.card {
  width: 200px;
  height: 300px;
  border-radius: 15px;
  padding: 20px;
  margin-top: 30px;
  box-shadow: 5px 5px 15px gray, -5px 5px 15px gray;
  position: relative;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  border-radius: 50%;
}

.nombre {
  background-color: white;
  border-radius: 15px;
  width: 240px;
  position: absolute;
  bottom: 0;
  right: 0px;
  padding-bottom: 10px;
}

.card h2 {
  text-align: center;
  color: #ee08ad;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
  padding-right: 15px;
}

.card button {
  display: block;
  margin: 0 auto;
}

.card-detalles {
  display: flex;
  border-radius: 15px;
  padding: 10px;
  margin: 30px;
  box-shadow: 5px 5px 15px gray, -5px 5px 15px gray;
  align-items: center;
  font-size: large;
}

.card-detalles img {
  border-radius: 50%;
  padding: 20px;
}

.card-detalles_descripcion {
  font-size: large;
  padding: 10px;
}

.card-detalles_descripcion h2 {
  margin: 0px;
}

.card-detalles_descripcion button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

footer {
  height: 50px;
  padding-inline-start: 20px;
  margin-top: 30px;
}

footer p {
  margin: 0;
}

.containerBotonPaginacion {
  display: flex;
  justify-content: center;
}

.containerBotonPaginacion button {
  margin: 10px;
  box-shadow: 3px 3px 3px gray, -3px 3px 3px gray;
}

.oculto {
  display: none;
}

.totalPaginas {
  text-align: center;
  font-size: large;
}

.totalPersonajes {
  text-align: center;
  font-size: large;
  margin-top: 30px;
}

.ContainerSelect {
  display: flex;
  justify-content: center;
}

label {
  font-size: large;
  margin-right: 10px;
  margin-bottom: 18px;
}

select {
  margin-bottom: 18px;
}

#pageSelect::-webkit-scrollbar {
  width: 4px;
}

#pageSelect::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}


@media (max-width: 860px) {

  nav{
    flex-direction: column;
  }
  
  nav li {
    margin: 5px;
  } 

  nav h2{
    font-size: x-large;
    margin-top: 10px;
  }
  .liMenu{
    margin-inline: 10px;
  }
 
  .card-detalles {
    flex-direction: column;
    text-align: center;
    width: 90%;
  }
  .card-detalles img {
    width: 70%;
  }
  .submenu li a {
    padding: 5px;
}}
